
    <%= render 'shared/navbar' %>
<%= paginate @city_bikes %>
<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>City</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @city_bikes.each do |city_bike| %>
      <tr>
        <td><%= city_bike.name %></td>
        <td><%= city_bike.company %></td>
        <td><%= city_bike.city %></td>
        <td>
          <%= link_to "Show", city_bike_path(city_bike), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @city_bikes %>






