
    <%= render 'shared/navbar' %>
<%= paginate @prices %>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th>Price</th>
        <th>City Bike</th>
        <th>Country</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @prices.each do |price| %>
        <tr>
          <td><%= price.price %></td>
          <td><%= price.city_bike.name %></td>
          <td><%= price.country.name %></td>
          <td>
            <%= link_to "Show", price_path(price), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= paginate @prices %>






