
    <%= render 'shared/navbar' %>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Price:</strong> <%= @price.price %>
      </li>
      <li class="list-group-item">
        <strong>City Bike:</strong> <%= @price.city_bike.name %> (<%= @price.city_bike.company %>)
      </li>
      <li class="list-group-item">
        <strong>Country:</strong> <%= link_to @price.country.name, country_path(@price.country) %>
      </li>
    </ul>
