
    <%= render 'shared/navbar' %>
<%= paginate @countries %>

  <table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Country</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td>
          <%= link_to "Show", country_path(country), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @countries %>







