
    <%= render 'shared/navbar' %>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Name:</strong> <%= @city_bike.name %>
    </li>
    <li class="list-group-item">
      <strong>Company:</strong> <%= @city_bike.company %>
    </li>
    <li class="list-group-item">
      <strong>City:</strong> <%= @city_bike.city %>
    </li>
    <li class="list-group-item">
      <strong>Prices:</strong>
      <ul class="list-group list-group-flush">
        <% @city_bike.prices.each do |price| %>
          <li class="list-group-item"><%= price.price %> (<%= price.country.name %>)</li>
        <% end %>
      </ul>
    </li>
  </ul>







